<?xml version="1.0"?>
<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_odom_amcl" clear_params="true">
    <rosparam command="load" file="$(find main_controller)/config/ekf.yaml" />
  </node>
  <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_odom_amcl" clear_params="true">
    <rosparam command="load" file="$(find main_controller)/config/ekf_odom_amcl.yaml" />
    <remap from="/odom/filtered" to="/odom_amcl/filtered"/>
  </node> -->
</launch>